[tool.ruff]
line-length = 120
target-version = "py312"
extend-exclude = ["notebooks", "reports", "screenshots"]

[tool.ruff.lint]
select = ["E", "F", "I"]

[tool.mypy]
python_version = "3.12"
ignore_missing_imports = true
check_untyped_defs = true
warn_unused_ignores = true
exclude = "(notebooks/|reports/|screenshots/)"
