pandas==3.0.0
numpy==2.4.2
scikit-learn==1.8.0
matplotlib==3.10.8
seaborn==0.13.2
nltk==3.9.2
joblib==1.5.3
fastapi==0.116.1
uvicorn==0.35.0
ruff==0.12.10
mypy==1.17.1
pytest==9.0.2
httpx==0.28.1
pre-commit==4.3.0
